body{
    background-color: silver;
}

.header{
    display: flex;
    height: 100px;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
}

.optionBar{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    gap:10px; 
    background-color: black;
}

.barbutton{
    color: white;
}

.bodyHolder{
    display: flex;
    min-height: 700px;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    background-color: red;
    float: left;
    width: 300px;

}

.rightColumn{
    display: flex;
    flex-direction: column;
    background-color: purple;
    width: 100%;
}